.root {
    -fx-font-family: "Segoe UI";
    -fx-background-color: #f4f6f9;
}

.label {
    -fx-text-fill: #333;
}

.button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-padding: 8 16 8 16;
}

.button:hover {
    -fx-background-color: #2980b9;
}

.text-field, .password-field {
    -fx-background-radius: 6;
}
